<!-- View for showing all `Post` -->
<div class="row">
  <% form_tag posts_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
<% @posts.reverse_each do |post| %>
  <div class="card">
    <div class="card-header">
      <%= post.title %>
    </div>
    <div class="card-body">
      <p><%= truncate(post.body, length: 200) %></p>
      <p class="text-right"><%= link_to 'comments (x)', post_path(post) %></p>
    </div>
  </div>
<% end %>
