<!-- View for showing a single `Post` -->
<div class="row">
  <h1><%= @post.title %></h1>
</div>

<div class="row">
  <div>
    <%= @post.body %>
  </div>

  <div class="text-right col-md-12">
    <%= link_to 'Destroy', post_path(@post),
      class: 'btn btn-primary',
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
  </div>
</div>

<div class="row">
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>

<div class="row">
  <h2>Comments</h2>
  <div class="row">
    <%= render @post.comments %>
  </div>
</div>
